<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="8.5">
          <ion-icon
            (click)="nav.back()"
            style="font-size: 25px"
            name="arrow-back-outline"
          ></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="search" style="font-size: 25px"></ion-icon>
          &nbsp;
          <ion-icon
            (click)="nav.navigateForward(['/wishlist'])"
            name="heart"
            style="font-size: 25px"
          ></ion-icon>
          &nbsp;
          <ion-icon
            (click)="nav.navigateRoot(['/cart'])"
            name="cart"
            style="font-size: 25px"
          ></ion-icon>
          <ion-badge
            *ngIf="_user.cartArray && _user.cartArray.length > 0"
            [ngClass]="[
              _user.cartArray &&
              _user.cartArray.length !== 0 &&
              _user.cartArray.length > 9
                ? 'cart-quantity-max'
                : 'cart-quantity'
            ]"
            color="danger"
            ><span>{{ _user.cartArray.length }}</span></ion-badge
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<!-- Content Skeleton Loader -->
<ion-content *ngIf="!productDetails">
  <ion-grid style="overflow: hidden; position: fixed; width: 100%">
    <ion-row>
      <ion-col>
        <ion-skeleton-text
          animated
          style="width: 100%; height: 200px"
        ></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of [0, 1]">
      <ion-col>
        <ion-skeleton-text
          animated
          style="width: 100%; height: 500px"
        ></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Footer Skeleton Loader -->
<!-- Footer -->
<ion-footer *ngIf="!productDetails">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-skeleton-text animated style="height: 50px"></ion-skeleton-text>
      </ion-col>
      <ion-col>
        <ion-skeleton-text animated style="height: 50px"></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<ion-content
  *ngIf="productDetails"
  [scrollEvents]="true"
  (ionScroll)="getScrollPos($event)"
>
  <!-- Image Content -->
  <ion-slides
    *ngIf="productDetails && productDetails && productDetails['imagelist']"
    pager="true"
    mode="md"
    [options]="slideOpts"
  >
    <ion-slide *ngFor="let item of productDetails['imagelist']; let i = index">
      <img src="{{ item }}" />
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light">
          <ion-icon
            [ngStyle]="{
              color: productDetails.icon === 'heart' ? 'red' : ''
            }"
            [name]="productDetails.icon"
            (click)="onClickWishList(productDetails)"
          ></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>
  </ion-slides>
  <br />
  <!-- Product name, price -->
  <ion-item *ngIf="productDetails && productDetails">
    <div class="productDetails">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-title style="padding: 0px; padding-bottom: 5px">{{
              productDetails.name
            }}</ion-title>
            <div>
              <div
                *ngIf="productDetails.rating"
                [ngClass]="[
                  productDetails.rating && !productDetails.rating.includes('.')
                    ? 'rating'
                    : 'rating-decimal'
                ]"
              >
                {{ productDetails.rating }}
                <ion-icon name="star"></ion-icon>
              </div>
              <ion-note
                style="position: relative; bottom: 2px"
                *ngIf="productDetails.rating"
                >({{ productDetails.totalrating }})</ion-note
              >
            </div>
            <ion-text id="mainPrice">
              {{ "₹" + productDetails.price }}
              <span>{{ "₹" + productDetails.originalprice }}</span
              >&nbsp;&nbsp;<ion-text id="offer">{{
                productDetails.offerpercentage + "% off"
              }}</ion-text>
            </ion-text>
            <br />
            <ng-container
              *ngIf="
                productDetails.deliverycharge &&
                  productDetails.deliverycharge !== '';
                else elseTemplate
              "
            >
              {{
                "+ " +
                  "₹" +
                  productDetails.deliverycharge +
                  " delivery charge is required"
              }}
            </ng-container>
            <ng-template #elseTemplate> Free Delivery Applicable </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-item>
  <!-- Delivery -->
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col [size]="address && address.length > 0 ? '8.5' : '9.5'"
          ><ion-text>
            <ng-container
              *ngIf="address && address.length > 0; else elseTemplate1"
            >
              <span style="font-weight: bold"
                ><span style="font-weight: normal; color: rgb(85, 83, 83)"
                  >Delivery to{{ " " }}</span
                >
                <span *ngIf="address[0].area && address[0].pin"
                  >{{ address[0].area }} ,{{ "pin:- " + address[0].pin }}</span
                >
                <span *ngIf="!address[0].area">{{
                  " pin:- " + address[0].pin
                }}</span></span
              >
            </ng-container>
            <ng-template #elseTemplate1>
              <span style="position: relative; top: 10px"
                >Enter Your Address or Pin</span
              >
            </ng-template>
          </ion-text>
          <br />
          <ion-note *ngIf="!addressFlag" style="color: red; font-weight: 700"
            >Currently out of stock for
            <strong>{{ address[0].pin }}</strong></ion-note
          >
        </ion-col>
        <ion-col>
          <ion-button
            *ngIf="!cLocationFLag"
            (click)="
              onClickAddress(address && address.length > 0 ? 'change' : 'add')
            "
            >{{ address && address.length > 0 ? "change" : "add" }}</ion-button
          >
          <ion-spinner *ngIf="cLocationFLag" color="primary"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <!-- Product Highlights & Qty -->
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3 style="margin-top: 0px; margin-bottom: 0px">Highlights</h3>
        </ion-col>
        <!-- <ion-col>
          <ion-icon
            class="increase-decrease"
            name="remove-circle-outline"
            (click)="_product.onClickQuantity(productDetails,index, 'decrease')"
          ></ion-icon
        ></ion-col>
        <ion-col>
          <div class="quantity">
            {{ productDetails.quantity }}
          </div>
        </ion-col>
        <ion-col
          ><ion-icon
            class="increase-decrease"
            name="add-circle-outline"
            (click)="_product.onClickQuantity(productDetails,index, 'increase')"
          ></ion-icon
        ></ion-col> -->
      </ion-row>

      <ion-col *ngIf="productDetails">
        <ion-row>
          <ion-text>
            <span style="font-weight: bold">Item:</span>
            {{ productDetails.name }}
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text>
            <span style="font-weight: bold">Description:</span>
            {{ productDetails.description }}
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text>
            <span style="font-weight: bold">Type:</span>
            {{ productDetails.type }}
          </ion-text>
        </ion-row>

        <ion-row>
          <ion-text>
            <span style="font-weight: bold">Quantity:</span>
            {{ productDetails.unit }}
          </ion-text>
        </ion-row>

        <ion-row>
          <ion-text>
            <span style="font-weight: bold">Shop:</span>
            {{ productDetails.company }}
          </ion-text>
        </ion-row>

        <ion-row>
          <ion-text>
            <span style="font-weight: bold">Return Policy:</span>
            {{ productDetails.returnpolicy }}
          </ion-text>
        </ion-row>

        <ion-row>
          <ion-text>
            <span style="font-weight: bold">Payment Mode:</span>
            {{ productDetails.paymentmode }}
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-grid>
  </ion-item>
  <!-- Product Rating -->
  <ion-item *ngIf="productDetails.totalrating">
    <ion-grid>
      <h3 style="margin-top: 0px; margin-bottom: 0px">Customer Rating</h3>
      <ion-col>
        <ion-row>
          <ion-col>
            <span style="font-size: xx-large">1.5/5</span>&nbsp;
            <ion-icon name="star" style="font-size: x-large"></ion-icon
          ></ion-col>
          <ion-col>
            <ion-row>
              <span style="font-size: medium">Out of 47</span>
            </ion-row>
            <ion-row>
              <span style="font-size: larger">5</span>
              <ion-icon
                name="star"
                style="position: relative; top: 2px; color: green"
              ></ion-icon>
              &nbsp;- &nbsp;<span style="position: relative; top: 1px">12</span>
            </ion-row>
            <ion-row>
              <span style="font-size: larger">4</span>
              <ion-icon
                name="star"
                style="position: relative; top: 2px; color: greenyellow"
              ></ion-icon>
              &nbsp;- &nbsp;<span style="position: relative; top: 1px">9</span>
            </ion-row>
            <ion-row>
              <span style="font-size: larger">3</span>
              <ion-icon
                name="star"
                style="position: relative; top: 2px; color: yellow"
              ></ion-icon>
              &nbsp;- &nbsp;<span style="position: relative; top: 1px">2</span>
            </ion-row>
            <ion-row>
              <span style="font-size: larger">2</span>
              <ion-icon
                name="star"
                style="position: relative; top: 2px; color: orange"
              ></ion-icon>
              &nbsp;- &nbsp;<span style="position: relative; top: 1px">19</span>
            </ion-row>
            <ion-row>
              <span style="font-size: larger">1</span>
              <ion-icon
                name="star"
                style="position: relative; top: 2px; color: red"
              ></ion-icon>
              &nbsp;- &nbsp;<span style="position: relative; top: 1px">5</span>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-grid>
  </ion-item>
  <app-recommended-products (click)="gotToTop()"></app-recommended-products>
</ion-content>
<!-- Footer -->
<ion-footer *ngIf="productDetails">
  <ion-grid>
    <ion-row>
      <ion-col
        style="background-color: #ccc; font-weight: bold;text-align: center;"
        class="footer-button ion-activatable ripple-parent"
        (click)="onClickNavigate()"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-text *ngIf="!isDisabled">{{
          inCartFlag ? "Go to My Cart" : "Add to My Cart"
        }}</ion-text>
        <ion-spinner *ngIf="isDisabled" color="dark"></ion-spinner>
      </ion-col>
      <ion-col
        style="background-color: orangered; font-weight: bold; color: white"
        class="footer-button ion-activatable ripple-parent"
        (click)="onClickBuyNow()"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-text>Buy Now</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
<!-- Address Drawer -->
<ion-bottom-sheet
  *ngIf="productDetails"
  [(state)]="sheetState"
  [minHeight]="minHeight"
  [dockedHeight]="dockedHeight"
  [topDistance]="topDistance"
  [roundBorderOnTop]="roundBorderOnTop"
  [shadowBorder]="shadowBorder"
  [transition]="transition"
  [title]="title"
  [disableDrag]="disableDrag"
  [hideDragIcon]="hideDragIcon"
  [enableScrollContent]="enableScrollContent"
>
  <ion-content>
    <div class="searchBar">
      <ion-item lines="none">
        <ion-label position="floating"
          >Enter pincode to check delivery info</ion-label
        >
        <ion-input #pin type="number" [readonly]="isDisabled"></ion-input>
        <ion-button shape="round" slot="end">
          <span
            *ngIf="!isDisabled"
            (click)="onClickLocation('pincode', pin.value); pin.value = ''"
            >Check</span
          >
          <ion-spinner *ngIf="isDisabled" color="light"></ion-spinner>
        </ion-button>
      </ion-item>
    </div>

    <ion-item
      (click)="!isDisabled ? onClickLocation() : ''"
      class="ion-activatable ripple-parent"
    >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>Use your current location</ion-label>
      <ion-icon *ngIf="!cLocationFLag" name="locate" slot="end"></ion-icon>
      <ion-spinner *ngIf="cLocationFLag" color="primary"></ion-spinner>
    </ion-item>
    <ion-list *ngIf="address && address.length > 0">
      <ion-list-header>
        <ion-label style="font-size: larger"
          >Your Preffered
          {{
            address && address.length > 1 ? "Addressess" : "Address"
          }}</ion-label
        >
      </ion-list-header>
      <ion-radio-group [value]="address[0].addressId">
        <ion-item
          (click)="onClickAddressChange(i)"
          *ngFor="let item of address; let i = index"
        >
          <ion-label
            >{{ item.area ? item.area + ", " : "" }}
            {{ item.pin ? "pin:- " + item.pin : "" }}</ion-label
          >
          <ion-radio slot="start" [value]="address[i].addressId"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-content>
</ion-bottom-sheet>
