<br /><br /><br />
<ion-content [fullscreen]="true">
  <!-- Profile Info -->
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-avatar>
        <ng-container
          *ngIf="gender === 'M' || !_auth.isLogin(); else elseTemplate"
        >
          <img src="assets/images/avater.jpg" />
        </ng-container>
        <ng-template #elseTemplate>
          <ng-container
            *ngIf="gender === 'F' && _auth.isLogin(); else elseTemplate1"
          >
            <img src="assets/images/avater-f.png" />
          </ng-container>
          <ng-template #elseTemplate1>
            <!-- <img src="assets/images/avater-f.png" /> -->
            <ion-text>Other</ion-text>
          </ng-template>
        </ng-template>
      </ion-avatar>
    </ion-thumbnail>
    <ion-label>
      <h2 *ngIf="name && name !== '' && _auth.isLogin()">Name: {{name}}</h2>
      <p *ngIf="phoneNumber && phoneNumber !== '' && _auth.isLogin()">
        Phone Number: +91-{{phoneNumber}}
      </p>

      <ion-grid *ngIf="!_auth.isLogin()">
        <ion-row>
          <ion-col
            ><h2 style="text-align: center; top: 5px; position: relative">
              Login Your Account
            </h2></ion-col
          >
          <ion-col></ion-col>
          <ion-col>
            <ion-button
              size="small"
              shape="round"
              (click)="this.nav.navigateForward(['/login'])"
              >Login</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <!-- Menu Bar -->
  <ion-item
    class="ion-activatable ripple-parent"
    *ngFor="let item of menuBar"
    (click)="this.nav.navigateForward([item.link])"
  >
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon [name]="item.icon"></ion-icon>&nbsp;&nbsp;
    <ion-label>{{item.name}}</ion-label>
  </ion-item>
  <br />
  <ion-button *ngIf="_auth.isLogin()" expand="full" (click)="onlogOut()"
    >Logout</ion-button
  >
</ion-content>
