.searchBar {
  ion-item {
    padding: 5px;
    --border-width: 2px;
    --border-color: #403e39;
    --border-radius: 8px;
  }
}
ion-slides {
  height: 20%;
}
.product {
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  // Product Image
  img {
    width: 200px;
    height: 200px;
  }
  .wishList {
    font-size: 20px;
    right: 10px;
    top: 10px;
    position: absolute;
  }
  ion-note {
    position: relative;
    bottom: 2px;
  }
  .rating {
    color: white;
    width: 40px;
    background-color: rgb(11, 160, 11);
    text-align: center;
    border-radius: 2px;
    font-size: smaller;
    float: left;
    margin-right: 2px;
  }
  .rating-decimal {
    color: white;
    margin-right: 2px;
    float: left;
    font-size: smaller;
    width: 55px;
    background-color: rgb(11, 160, 11);
    text-align: center;
    border-radius: 2px;
  }
  // Product Price
  p {
    font-size: medium;
  }

  .ripple-parent {
    position: relative;
    overflow: hidden;
  }
}
