#myinput {
  border: solid 1px #53e436;
  border-radius: 8px;
  height: 20%;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.divider {
  border: solid 0.5px #e0d7d7;
  width: 100%;
}
