<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="9.5">
          <ion-icon
            (click)="nav.back()"
            style="font-size: x-large"
            name="arrow-back-outline"
          ></ion-icon>
          <ion-text
            style="
              position: relative;
              bottom: 5px;
              font-size: x-large;
              left: 2px;
            "
            >Order Details</ion-text
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-text>Order ID:&nbsp;</ion-text>
            <ion-note style="font-weight: bold">{{ orderId }}</ion-note>
          </ion-col>
          <div class="divider"></div>
          <!-- Order name and seller name and price with order pic -->
        </ion-row>
        <ion-row
          *ngIf="(isCancel || isReturn) && orderData && orderData.length > 1"
        >
          <ion-col>
            <ion-button *ngIf="isCancel" expand="block" color="dark">
              <ion-icon name="trash-outline" slot="start"></ion-icon>
              Cancel All</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button
              *ngIf="isReturn && orderStatus.isOrderDelivered"
              expand="block"
              color="dark"
              ><ion-icon name="repeat-outline" slot="start"></ion-icon> Replace
              All</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button *ngIf="isReturn" expand="block" color="danger">
              <ion-icon name="return-up-back-outline" slot="start"></ion-icon>
              Return All</ion-button
            >
          </ion-col>
          <div class="divider"></div>
        </ion-row>
        <div *ngFor="let item of orderData">
          <ion-row>
            <ion-col size="8">
              <ion-text style="word-break: break-all; font-size: large">{{
                item.name
              }}</ion-text>
              <br />
              <!-- Rating -->
              <ion-row *ngIf="item.totalrating && item.rating">
                <ion-col>
                  <div
                    [ngClass]="[
                      item.rating && !item.rating.includes('.')
                        ? 'rating'
                        : 'rating-decimal'
                    ]"
                  >
                    {{ item.rating }}
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <ion-note style="position: relative; bottom: 2px"
                    >({{ item.totalrating }})</ion-note
                  >
                </ion-col>
              </ion-row>
              <ion-note style="word-break: break-all"
                >Seller: DailyKart</ion-note
              >
              <ion-row>
                <!-- Price -->
                <ion-col>
                  <ion-text id="mainPrice">
                    {{ "₹" + item.price }}
                    <span>{{ "₹" + item.originalprice }}</span
                    >&nbsp;&nbsp;<ion-text id="offer">{{
                      item.offerpercentage + "% off"
                    }}</ion-text>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col>
              <div>
                <img
                  style="border: 1px solid #111010"
                  src="{{ item.img }}"
                  alt=""
                /></div
            ></ion-col>
          </ion-row>
          <!-- Product rating -->
          <ion-row>
            <ion-col
              style="text-align: left; font-size: large; font-weight: bold"
            >
              <ion-text>Rate Product</ion-text>
            </ion-col>
            <ion-col style="text-align: right">
              <ionic5-star-rating
                #rating
                activeIcon="star"
                defaultIcon="star-outline"
                activeColor="#488aff"
                defaultColor="#4169E1"
                readonly="false"
                [rating]="item.userRating"
                fontSize="30px"
                (ratingChanged)="logRatingChange($event)"
              >
              </ionic5-star-rating>
            </ion-col>
            <div class="divider"></div>
          </ion-row>
          <!-- Cancel or Return -->
          <ion-row
            *ngIf="isReturn && item.returnTime < orderStatus.orderDeliveredDate"
          >
            <ion-col style="text-align: center">
              <ion-text style="font-weight: bold; font-size: small"
                >Until
                {{ item.returnTime | date: "MMM d, y, h:mm a" }}</ion-text
              >
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isCancel || isReturn">
            <ion-col *ngIf="isCancel">
              <ion-button expand="block" color="dark">
                <ion-icon name="trash-outline" slot="start"></ion-icon>
                Cancel</ion-button
              >
            </ion-col>
            <ion-col *ngIf="isReturn && orderStatus.isOrderDelivered">
              <ion-button expand="block" color="dark"
                ><ion-icon name="repeat-outline" slot="start"></ion-icon>
                Replace</ion-button
              >
            </ion-col>
            <ion-col
              *ngIf="
                isReturn && item.returnTime < orderStatus.orderDeliveredDate
              "
            >
              <ion-button expand="block" color="danger">
                <ion-icon name="return-up-back-outline" slot="start"></ion-icon>
                Return</ion-button
              >
            </ion-col>
            <div class="divider"></div>
          </ion-row>
        </div>
        <ion-row>
          <ion-col>
            <ion-text style="font-weight: bold; font-size: larger"
              >Order Status</ion-text
            >
          </ion-col>
        </ion-row>
        <!-- Product tracking details and return policy -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col>
                <input
                  id="myinput"
                  type="range"
                  disabled="true"
                  [value]="statusValue"
                />
              </ion-col>
            </ion-row>
            <ion-row style="font-size: small; font-weight: bold">
              <ion-col size="3"
                >Ordered <br />{{ orderStatus.orderPlacedDate | date }}</ion-col
              >
              <ion-col size="3" style="text-align: left"
                >Dispatched<br />{{
                  orderStatus.orderDispatchedDate | date
                }}</ion-col
              >
              <ion-col size="3" style="text-align: center"
                >Delivery<br />{{
                  orderStatus.orderOutForDeliveryDate | date
                }}</ion-col
              >
              <ion-col size="3" style="text-align: right"
                >Delivered<br />{{
                  orderStatus.orderDeliveredDate | date
                }}</ion-col
              >
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <!-- <ion-note>No-return policy</ion-note> -->
              </ion-col>
              <ion-col size="4"></ion-col>
              <ion-col
                (click)="onClickSeeDetails()"
                size="4"
                style="text-align: right; color: #3880ff; font-weight: bold"
                >Track
                <ion-icon
                  style="position: relative"
                  [style.top]="_global.HEIGHT / 250 + 'px'"
                  name="chevron-forward-outline"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
          <div class="divider"></div>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Delivery Details -->
        <ion-row>
          <ion-col
            size="8.5"
            style="text-align: left; font-size: large; font-weight: bold"
          >
            <ion-text>Delivery Details</ion-text>
          </ion-col>
          <ion-col>
            <ion-button
              [style.height]="_global.HEIGHT / 30 + 'px'"
              expand="block"
              color="primary"
            >
              Change</ion-button
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>{{
              address.area +
                " ," +
                address.city +
                " ," +
                address.dist +
                " ," +
                address.state +
                " ,pin-" +
                address.pin
            }}</ion-text>
            <br />
            <span style="font-weight: bold">Name:</span>
            <ion-text>
              {{ address.name }}
            </ion-text>
            <br />
            <span style="font-weight: bold">Ph Number:</span>
            <ion-text>
              {{ address.ph }}
            </ion-text>
          </ion-col>
          <div class="divider"></div>
        </ion-row>
        <!-- Price Details -->
        <ion-row>
          <ion-col
            style="text-align: left; font-size: large; font-weight: bold"
          >
            <ion-text>Price Details</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left">Original Price</ion-col>
          <ion-col
            style="
              text-align: right;
              text-decoration: line-through;
              color: gray;
            "
            >{{ "₹" + totaloriginalPrice }}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left">Selling Price</ion-col>
          <ion-col style="text-align: right">{{
            "₹" + (totalorderPrice - deliveryCharge)
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left">Shipping Price</ion-col>
          <ion-col style="text-align: right">{{
            deliveryCharge > 0 ? "₹" + deliveryCharge : "Free"
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left; font-weight: bold"
            >Total Price</ion-col
          >
          <ion-col style="text-align: right">{{
            "₹" + totalorderPrice
          }}</ion-col>
        </ion-row>
        <div class="divider"></div>
        <ion-row>
          <ion-col style="text-align: left; font-weight: bold; font-size: large"
            >Payment Mode</ion-col
          >
          <ion-col style="text-align: right">COD</ion-col>
        </ion-row>
        <div class="divider"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
