<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="9.5">
          <ion-icon
            (click)="nav.back()"
            style="font-size: x-large"
            name="arrow-back-outline"
          ></ion-icon>
          <ion-text
            style="
              position: relative;
              bottom: 5px;
              font-size: x-large;
              left: 2px;
            "
            >My Cart</ion-text
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<!-- Skeleton Loader -->
<ion-content *ngIf="spin">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-skeleton-text animated style="height: 50px"></ion-skeleton-text>
        </ion-col>
        <ion-col
          ><ion-skeleton-text
            animated
            style="height: 27px; margin-top: 10%"
          ></ion-skeleton-text
        ></ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item *ngFor="let item of [0, 1, 2, 3, 4]">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-row>
            <ion-col
              ><ion-skeleton-text style="height: 15px"></ion-skeleton-text>
            </ion-col>
            <ion-col size="10"
              ><ion-skeleton-text style="height: 15px"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-col style="position: relative; bottom: 20px">
            <ion-row
              ><ion-skeleton-text
                style="height: 20px; width: 150px"
              ></ion-skeleton-text>
            </ion-row>
          </ion-col>
        </ion-col>
        <ion-col>
          <ion-skeleton-text style="height: 100px"></ion-skeleton-text
        ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col [size]="_global.WIDTH / 50"> </ion-col>
        <ion-col
          ><ion-skeleton-text style="height: 15px"></ion-skeleton-text>
        </ion-col>
        <ion-col
          ><ion-skeleton-text style="height: 15px"></ion-skeleton-text>
        </ion-col>
        <ion-col
          ><ion-skeleton-text style="height: 15px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
<ng-container
  *ngIf="
    this._user.cartArray && this._user.cartArray.length > 0 && !spin;
    else elseTemplate
  "
>
  <ion-content *ngIf="cartArray && cartArray.length > 0">
    <!-- Delivery -->
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col [size]="address && address.length > 0 ? '8.5' : '9.5'"
            ><ion-text>
              <ng-container
                *ngIf="address && address.length > 0; else elseTemplate1"
              >
                <span style="font-weight: bold"
                  ><span style="font-weight: normal; color: rgb(85, 83, 83)"
                    >Delivery to</span
                  >
                  {{ address[0].area }} ,{{ "pin:- " + address[0].pin }}</span
                >
              </ng-container>
              <ng-template #elseTemplate1>
                <span style="position: relative; top: 10px"
                  >Enter Your Address</span
                >
              </ng-template>
            </ion-text></ion-col
          >
          <ion-col>
            <ion-button
              [disabled]="isLoading"
              (click)="
                onClickAddress(address && address.length > 0 ? 'change' : 'add')
              "
              >{{
                address && address.length > 0 ? "change" : "add"
              }}</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <!-- Delivery More than 200 Rs-->
    <div
      *ngIf="totalDeliveryCharge > 0 && totalOfferPrice < totalDeliveryCharge"
      id="deliveryCharge"
      style="text-align: center"
      [style.height]="_global.HEIGHT / 20 + 'px'"
      id="deliveryCharge"
    >
      <ion-text style="font-size: larger; position: relative; top: 5px"
        >Delivery charge omit above ₹{{ totalDeliveryCharge }}</ion-text
      >
    </div>

    <!-- Cart Items -->
    <ion-card
      style="border: 1px solid black"
      *ngFor="let item of cartArray; let index = index"
    >
      <ion-card-header>
        <ion-row>
          <ion-col size="11">
            <ion-row>
              <ion-col size="1">
                <ion-checkbox
                  [disabled]="isLoading"
                  [(ngModel)]="item.isCheckout"
                  (click)="selectAll(!item.isCheckout, 'select', index)"
                  color="primary"
                ></ion-checkbox>
              </ion-col>
              <!-- Product Name -->
              <ion-col>
                <ion-title id="cart-header">
                  {{
                    item.name && item.name.length > 29
                      ? item.name.slice(0, 29) + "..."
                      : item.name
                  }}
                </ion-title>
                <!-- Rating -->
                <div
                  style="position: relative; top: 2px"
                  [style.right]="_global.WIDTH / 15 + 'px'"
                  *ngIf="item.totalrating && item.rating"
                >
                  <div
                    [ngClass]="[
                      item.rating && !item.rating.includes('.')
                        ? 'rating'
                        : 'rating-decimal'
                    ]"
                  >
                    {{ item.rating }}
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <ion-note style="position: relative; bottom: 2px"
                    >({{ item.totalrating }})</ion-note
                  >
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- Delete Button -->
          <ion-col>
            <ion-fab-button
              [disabled]="isLoading"
              *ngIf="!item.isSpin"
              (click)="onClickDelete(item)"
              color="dark"
              size="small"
              style="position: absolute; right: 0px; bottom: 0px"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
        <ion-row class="bottomRow">
          <ion-col [size]="_global.WIDTH / 50">
            <ion-row class="bottomRow">
              <!-- Price -->
              <ion-col>
                <ion-text id="mainPrice">
                  {{ "₹" + item.price }}
                  <span *ngIf="item.price !== item.originalprice">{{
                    "₹" + item.originalprice
                  }}</span
                  >&nbsp;&nbsp;<ion-text
                    *ngIf="item.price !== item.originalprice"
                    id="offer"
                    >{{ item.offerpercentage + "% off" }}</ion-text
                  >
                </ion-text>
              </ion-col>
            </ion-row>
            <!-- Quantity -->
            <ion-row class="bottomRow main-quantity">
              <!-- <ion-col>
                <ion-text>Quantity:</ion-text>
              </ion-col> -->
              <!-- Decrease -->
              <ion-col [size]="_global.WIDTH / 15 + 'px'">
                <ion-icon
                  class="increase-decrease"
                  name="remove-circle-outline"
                  (click)="
                    !isLoading
                      ? _product.onClickQuantity(item, index, 'decrease')
                      : '';
                    !isLoading ? getPrice() : ''
                  "
                ></ion-icon>
              </ion-col>
              <!-- Quantity Value -->
              <ion-col class="quantity" [size]="_global.WIDTH / 15 + 'px'">
                <div [style.width]="_global.WIDTH / 15 + 'px'">
                  <span style="font-size: small; font-weight: 500">{{
                    item.orderqty
                  }}</span>
                </div>
              </ion-col>
              <!-- Increase -->
              <ion-col
                ><ion-icon
                  class="increase-decrease"
                  name="add-circle-outline"
                  (click)="
                    !isLoading
                      ? _product.onClickQuantity(item, index, 'increase')
                      : '';
                    !isLoading ? getPrice() : ''
                  "
                ></ion-icon>
              </ion-col>
            </ion-row>
            <!-- Item left in stock -->
            <ion-row class="bottomRow" *ngIf="item.quantity <= 10">
              <ion-col>
                <ion-text
                  style="font-size: medium; color: red; font-weight: bold"
                >
                  {{ item.quantity + " item is left in stock" }}
                </ion-text>
              </ion-col>
            </ion-row>
            <!-- Delivery Charge -->
            <ion-row
              class="bottomRow"
              *ngIf="
                item.deliverycharge && totalOfferPrice < totalDeliveryCharge
              "
            >
              <ion-col>
                <ion-text
                  style="font-size: medium; color: red; font-weight: bold"
                >
                  {{ "+ ₹" + item.deliverycharge + " is required" }}
                </ion-text>
              </ion-col>
            </ion-row>
            <!-- Order is Out of Stock -->
            <ion-row class="bottomRow">
              <ion-col>
                <ion-note *ngIf="item.status" id="stock-out">{{
                  item.message
                }}</ion-note>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- Image -->
          <ion-col>
            <img
              src="{{ item.img }}"
              style="width: 100%; float: right; border: 2px solid black"
            />
            <img
              *ngIf="totalOfferPrice >= totalDeliveryCharge"
              id="free-shipping"
              src="assets/images/free-shipping.png"
              alt=""
              srcset=""
            />
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="bottomRow" *ngIf="!item.isSpin">
          <ion-col>
            <ion-button
              [disabled]="isLoading"
              *ngIf="!item.isSpin"
              expand="block"
              color="secondary"
              (click)="onClickMoveToWishlist(item)"
            >
              <ion-icon name="heart" slot="start"></ion-icon> Move to
              Wishlist</ion-button
            >
          </ion-col>
        </ion-row>
        <ion-row
          class="bottomRow"
          *ngIf="item.isSpin"
          style="text-align: center"
        >
          <ion-col>
            <ion-spinner color="primary"></ion-spinner>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-content>
  <!-- Footer -->
  <ion-footer *ngIf="cartArray && cartArray.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-row
            style="position: relative"
            [style.top]="_global.HEIGHT / 150 + 'px'"
          >
            <ion-col style="text-align: center">
              <ion-checkbox
                [disabled]="isLoading"
                [(ngModel)]="selectAllFlag"
                (click)="selectAll(selectAllFlag, 'selectAll')"
                color="primary"
              ></ion-checkbox>
              <ion-text
                style="position: relative"
                [style.left]="_global.WIDTH / 70 + 'px'"
                [style.bottom]="_global.HEIGHT / 300 + 'px'"
                >All</ion-text
              >
            </ion-col>
            <ion-col
              [style.bottom]="_global.HEIGHT / 150 + 'px'"
              style="text-align: left; position: relative"
              size="9"
            >
              <ion-text style="font-size: x-large">Total:</ion-text>
              &nbsp;
              <ion-text
                style="font-size: x-large; color: #3880ff; font-weight: 700"
                >{{ "₹" + totalOfferPrice }}</ion-text
              >
              <ion-text
                *ngIf="
                  deliveryCharge > 0 && totalOfferPrice < totalDeliveryCharge
                "
                >{{
                  deliveryCharge > 0 ? " + ₹" + deliveryCharge : ""
                }}</ion-text
              >
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col
          style="
            background-color: orangered;
            font-weight: bold;
            color: white;
            text-align: center;
          "
          class="footer-button ion-activatable ripple-parent"
          (click)="onClickBuyNow()"
        >
          <ion-ripple-effect *ngIf="!isLoading"></ion-ripple-effect>
          <ion-text *ngIf="!isLoading">Checkout</ion-text>
          <ion-spinner *ngIf="isLoading" color="dark"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ng-container>
<!-- Address Drawer -->
<ion-bottom-sheet
  [(state)]="sheetState"
  [minHeight]="minHeight"
  [dockedHeight]="dockedHeight"
  [topDistance]="topDistance"
  [roundBorderOnTop]="roundBorderOnTop"
  [shadowBorder]="shadowBorder"
  [transition]="transition"
  [title]="title"
  [disableDrag]="disableDrag"
  [hideDragIcon]="hideDragIcon"
  [enableScrollContent]="enableScrollContent"
>
  <ion-content>
    <ion-item
      (click)="this.presentModal('Add your address', '')"
      class="ion-activatable ripple-parent"
    >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="add-outline"></ion-icon>
      <ion-text>Add new address</ion-text>
    </ion-item>
    <ion-list *ngIf="address && address.length > 0">
      <ion-radio-group [value]="address[0].addressId">
        <ion-item
          *ngFor="let item of address; let i = index"
          (click)="onClickAddressChange(i)"
        >
          <ion-label>{{ item.area }} ,{{ "pin:- " + item.pin }}</ion-label>
          <ion-radio slot="start" [value]="address[i].addressId"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-content>
</ion-bottom-sheet>
<ng-template #elseTemplate>
  <ion-content *ngIf="!spin">
    <ion-row>
      <ion-col>
        <img
          style="margin-top: 50%; margin-left: 20%"
          [style.width]="_global.WIDTH / 2 + 'px'"
          src="assets/images/cart.png"
          alt="cart"
        />;
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-title>Your cart is empty</ion-title>
        <ion-note>
          It's a good day to buy fresh vegetables and groceries
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-content>
</ng-template>
