<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="9.5">
          <ion-icon
            (click)="nav.back()"
            style="font-size: x-large"
            name="arrow-back-outline"
          ></ion-icon>
          <ion-text
            style="
              position: relative;
              bottom: 5px;
              font-size: x-large;
              left: 2px;
            "
            >My Cart</ion-text
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="!cartFlag; else elseTemplate">
  <ion-content>
    <!-- Delivery -->
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8"
            ><ion-text>
              <ng-container
                *ngIf="
                  _address.addressArray && _address.addressArray.length > 0;
                  else elseTemplate1
                "
              >
                <span style="font-weight: bold"
                  ><span style="font-weight: normal; color: rgb(85, 83, 83)"
                    >Delivery to</span
                  >
                  {{
                    _address.addressArray[0].address &&
                    _address.addressArray[0].address.length > 40
                      ? _address.addressArray[0].address.slice(0, 40) + ".."
                      : _address.addressArray[0].address
                  }}</span
                >
              </ng-container>
              <ng-template #elseTemplate1>
                <span style="position: relative; top: 10px"
                  >Enter Your Address or Pin</span
                >
              </ng-template>
            </ion-text></ion-col
          >
          <ion-col>
            <ion-button
              (click)="
                onClickAddress(
                  _address.addressArray && _address.addressArray.length > 0
                    ? 'change'
                    : 'add'
                )
              "
              >{{
                _address.addressArray && _address.addressArray.length > 0
                  ? "change"
                  : "add"
              }}</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- Cart Items -->
    <ion-item *ngFor="let item of _user.cartArray; let index = index">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-row>
              <ion-col>
                <ion-checkbox
                  [(ngModel)]="item.isCheckout"
                  (click)="selectAll(!item.isCheckout, 'select', index)"
                  style="position: relative; bottom: 18px"
                  color="primary"
                ></ion-checkbox>
              </ion-col>
              <ion-col size="10">
                <ion-text
                  style="position: relative; left: -15px; font-weight: bold"
                  >{{
                    item.name && item.name.length > 20
                      ? item.name.slice(0, 20) + "..."
                      : item.name
                  }}</ion-text
                >
              </ion-col>
            </ion-row>
            <ion-col>
              <ion-row style="position: relative; bottom: 50px">
                <div>
                  <div
                    *ngIf="item.rating"
                    [ngClass]="[
                      item.rating && !item.rating.includes('.')
                        ? 'rating'
                        : 'rating-decimal'
                    ]"
                  >
                    {{ item.rating }}
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <ion-note
                    style="position: relative; bottom: 2px"
                    *ngIf="item.rating"
                    >({{ item.totalrating }})</ion-note
                  >
                </div>
              </ion-row>
            </ion-col>
          </ion-col>
          <ion-col>
            <img
              src="{{ item.img }}"
              style="width: 100px; float: right; border: 2px solid black"
            />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="_global.WIDTH / 50">
            <ion-text
              id="mainPrice"
              style="position: relative; bottom: 70px; font-weight: 700"
            >
              {{ "₹" + item.price }}
              <span>{{ "₹" + item.originalprice }}</span
              >&nbsp;&nbsp;<ion-text id="offer">{{
                item.offerpercentage + "% off"
              }}</ion-text>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-icon
              class="increase-decrease"
              name="remove-circle-outline"
              (click)="
                _product.onClickQuantity(item, index, 'decrease'); getPrice()
              "
            ></ion-icon>
          </ion-col>
          <ion-col>
            <div [style.width]="_global.WIDTH / 15 + 'px'" class="quantity">
              <span style="font-size: small; font-weight: 500">{{
                item.minqty
              }}</span>
            </div>
          </ion-col>
          <ion-col
            ><ion-icon
              class="increase-decrease"
              name="add-circle-outline"
              (click)="
                _product.onClickQuantity(item, index, 'increase'); getPrice()
              "
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-content>
  <!-- Footer -->
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-row
            style="position: relative"
            [style.top]="_global.HEIGHT / 150 + 'px'"
          >
            <ion-col style="text-align: center">
              <ion-checkbox
                [(ngModel)]="selectAllFlag"
                (click)="selectAll(selectAllFlag, 'selectAll')"
                color="primary"
              ></ion-checkbox>
              <ion-text
                style="position: relative"
                [style.left]="_global.WIDTH / 70 + 'px'"
                [style.bottom]="_global.HEIGHT / 300 + 'px'"
                >All</ion-text
              >
            </ion-col>
            <ion-col
              [style.bottom]="_global.HEIGHT / 150 + 'px'"
              style="text-align: left; position: relative"
              size="9"
            >
              <ion-text style="font-size: x-large">Total:</ion-text>
              &nbsp;
              <ion-text
                style="font-size: x-large; color: #3880ff; font-weight: 700"
                >{{ "₹" + totalOfferPrice }}</ion-text
              >
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col
          style="background-color: orangered; font-weight: bold; color: white"
          class="footer-button ion-activatable ripple-parent"
          (click)="onClickBuyNow()"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <ion-text>Checkout</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ng-container>
<!-- Address Drawer -->
<ion-bottom-sheet
  [(state)]="sheetState"
  [minHeight]="minHeight"
  [dockedHeight]="dockedHeight"
  [topDistance]="topDistance"
  [roundBorderOnTop]="roundBorderOnTop"
  [shadowBorder]="shadowBorder"
  [transition]="transition"
  [title]="title"
  [disableDrag]="disableDrag"
  [hideDragIcon]="hideDragIcon"
  [enableScrollContent]="enableScrollContent"
>
  <ion-content>
    <ion-list *ngIf="_address.addressArray && _address.addressArray.length > 0">
      <ion-radio-group [value]="_address.addressArray[0]._id">
        <ion-item
          *ngFor="let item of _address.addressArray; let i = index"
          (click)="onClickAddressChange(i)"
        >
          <ion-label>{{ item.address }}</ion-label>
          <ion-radio
            slot="start"
            [value]="_address.addressArray[i]._id"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-content>
</ion-bottom-sheet>
<ng-template #elseTemplate>
  <ion-content>
    <ion-row>
      <ion-col>
        <img
          style="margin-top: 50%; margin-left: 20%"
          [style.width]="_global.WIDTH / 2 + 'px'"
          src="assets/images/cart.png"
          alt="cart"
        />;
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-title>Your cart is empty</ion-title>
        <ion-note>
          It's a good day to buy fresh vegetables and groceries
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-content>
</ng-template>
