.footer-button {
  height: 50px;
  text-align: center;
  ion-text {
    position: relative;
    top: 10px;
  }
}
#deliveryCharge {
  color: orangered;
  font-weight: bold;
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #64b3f4,
    #c2e59c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #64b3f4,
    #c2e59c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bottomRow {
  margin-top: -10px;
}
#stock-out {
  font-weight: bolder;
  color: red;
  font-size: medium;
}
.main-quantity {
  text-align: "center";
  font-size: large;
  color: black;
  .quantity {
    padding: 0px;
    div {
      text-align: center;
      background-color: #d4d0d0;
      border-radius: 3px;
      position: relative;
      top: 8px;
    }
  }
  .increase-decrease {
    font-size: 25px;
  }
}
#free-shipping {
  border: 1px solid black;
  position: absolute;
  bottom: 0%;
  width: 50%;
  top: 50%;
  right: -10%;
  border-radius: 100%;
}
#cart-header {
  font-size: medium;
  font-weight: bold;
  color: black;
  padding: 0px;
}
