<ion-grid>
  <h3 *ngIf="productDetails && productDetails.length > 0">
    Recommended Products
  </h3>
  <!-- Display product in grid view -->
  <ion-grid *ngIf="productDetails && productDetails.length > 0">
    <ion-row>
      <ion-col
        style="padding: 0px"
        size="6"
        *ngFor="let item of productDetails; let i = index"
      >
        <ion-card
          style="border: 1px solid black"
          [style.border-radius]="_global.WIDTH / 30 + 'px'"
          class="product ion-activatable ripple-parent"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header>
            <ion-fab vertical="top" horizontal="end">
              <ion-fab-button
                color="light"
                [style.width]="_global.WIDTH / 11 + 'px'"
                [style.height]="_global.HEIGHT / 21 + 'px'"
              >
                <ion-icon
                  [ngStyle]="{
                    color: productDetails[i].icon === 'heart' ? 'red' : ''
                  }"
                  [name]="item.icon"
                  class="wishList"
                  (click)="_product.onClickWishList(item)"
                ></ion-icon>
              </ion-fab-button>
            </ion-fab>

            <img
              [style.height]="_global.HEIGHT / 7 + 'px'"
              src="{{ item.img }}"
              (click)="onClickProductDetails(i)"
            />
          </ion-card-header>

          <ion-card-content
            style="border-top: 1px solid black"
            (click)="onClickProductDetails(i)"
          >
            <ion-row>
              <ion-col>
                <ion-label>
                  <ion-title
                    style="font-size: medium; color: black; font-weight: bolder"
                    >{{ item.name }}</ion-title
                  >
                  <ion-text id="mainPrice">
                    {{ "₹" + item.price }}
                    <span>{{ "₹" + item.originalprice }}</span
                    >&nbsp;&nbsp;<ion-text id="offer">{{
                      item.offerpercentage + "% off"
                    }}</ion-text>
                  </ion-text>
                  <div style="text-align: center">
                    <div
                      [style.left]="_global.HEIGHT / 35 + 'px'"
                      *ngIf="item.rating"
                      [ngClass]="[
                        item.rating && !item.rating.includes('.')
                          ? 'rating'
                          : 'rating-decimal'
                      ]"
                    >
                      {{ item.rating }}
                      <ion-icon name="star"></ion-icon>
                    </div>
                    <ion-note *ngIf="item.totalrating && item.rating"
                      >({{ item.totalrating }})</ion-note
                    >
                  </div>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Infinite Scrolling -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading recommended data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-grid>
