/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-error {
  color: red;
}
.ion-address-error {
  color: red;
  position: relative;
  top: 20px;
}
.ripple-parent {
  position: relative;
  overflow: hidden;
}
.cart-quantity {
  position: absolute;
  right: 10px;
  bottom: 22px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  font-size: x-small;
  span {
    text-align: center;
  }
}
.cart-quantity-max {
  position: absolute;
  right: 10px;
  bottom: 22px;
  width: 17px;
  height: 16px;
  font-size: x-small;
  border-radius: 100%;
  span {
    position: relative;
    top: 2px;
    right: 1px;
  }
}

.product {
  text-align: center;
  ion-note {
    position: relative;
    bottom: 2px;
  }
  .rating {
    color: white;
    width: 40px;
    background-color: rgb(11, 160, 11);
    text-align: center;
    border-radius: 2px;
    font-size: smaller;
    float: left;
    margin-right: 2px;
    position: relative;
  }
  .rating-decimal {
    position: relative;
    color: white;
    margin-right: 2px;
    float: left;
    font-size: smaller;
    width: 55px;
    background-color: rgb(11, 160, 11);
    text-align: center;
    border-radius: 2px;
  }
  // Product Price
  p {
    font-size: medium;
  }

  .ripple-parent {
    position: relative;
    overflow: hidden;
  }
  #mainPrice {
    margin-left: 0px;
    // font-size: small;
    color: black;
    font-weight: bold;
    span {
      text-decoration: line-through;
      color: gray;
    }
    #offer {
      font-weight: bold;
      color: rgb(15, 170, 15);
      font-size: 15px;
    }
  }
}

ion-modal.stack-modal {
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}
/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class {
  background: whitesmoke;
  padding: 15% 5% !important;
}

.error-message {
  color: red;
  padding-top: 0.2rem;
  font-size: small;
  font-weight: bold;
  margin-left: 5%;
}

.rating {
  color: white;
  width: 40px;
  background-color: rgb(11, 160, 11);
  text-align: center;
  border-radius: 2px;
  font-size: smaller;
  float: left;
  margin-right: 2px;
}
.rating-decimal {
  color: white;
  margin-right: 2px;
  float: left;
  font-size: smaller;
  width: 55px;
  background-color: rgb(11, 160, 11);
  text-align: center;
  border-radius: 2px;
}

#mainPrice {
  margin-left: 0px;
  font-size: large;
  color: black;
  font-weight: bold;
  span {
    font-size: medium;
    text-decoration: line-through;
    color: gray;
  }
  #offer {
    font-weight: bolder;
    font-size: small;
    color: rgb(15, 170, 15);
  }
}
